html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

div,
span,
label,
a,
input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  margin-bottom: 4.8rem;
}

.subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.8rem;
  gap: 0.4rem;
}

.content {
  padding-top: 2rem;
  border-bottom: 2px solid rgb(233, 233, 233);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

button,
select {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0px;
}

.categoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoryList .categoryWrap {
  padding-bottom: 2rem;
}

.categoryList .categoryWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.categoryList .categoryWrap ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.categoryList .categoryWrap ul li input {
  display: none;
}

.categoryList .categoryWrap ul li label {
  padding: 0.4rem 1rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 100px;
  font-size: 14px;
  cursor: pointer;
}

.categoryList .categoryWrap ul li label:hover {
  border-color: rgb(0, 207, 133);
}

.categoryList .categoryWrap ul.categoryChecked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.categoryList .categoryWrap ul.categoryChecked li {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(0, 140, 94);
  color: rgb(0, 140, 94);
  background-color: rgb(236, 255, 243);
  font-weight: 500;
  border-radius: 100px;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
}
