.questionWrap {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.questionTitle {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  color: #f06817;
}
.mainTitle {
  white-space: pre-wrap;
  display: block;
  text-align: center;
  color: #000;
  font-size: 25px;
}
.questionImage {
  width: 100%;
}
.questionRadio {
  display: none;
  width: 100%;
  height: 40px;
}
.questionLabel {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  /* font-weight: 500; */
  line-height: 40px;
  color: #333333;
  text-align: center;
}
.questionRadio:checked + .questionLabel {
  border: none;
  background-color: #6c9d1e;
  color: #ffffff;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.surveySubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 0.4rem;
  margin-left: auto;
  margin-top: 1.2rem;
  font-size: 16px;
  background-color: #54575e;
  color: rgb(255, 255, 255);
}

.resultWrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.resultImgBox {
  width: 150px;
}

.resultTxtWrap {
  display: flex;
  justify-content: space-around;
}

.resultTxtBox {
  text-align: center;
}
