.listWrapper {
  width: 100%;
  height: 100%;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.listWrapper .listBox {
  width: 100%;
  height: calc(100% - 80px);
}

.listWrapper .listBox .todoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.listWrapper .listBox .todoList .todoItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerWrapper {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}
