.listWrapper {
  width: 100%;
  height: 100%;
  background: #23243b;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 15px;
}

.listWrapper.light {
  background: #fff;
}

.listWrapper .listBox {
  width: 100%;
  height: calc(100% - 80px);
}

.listWrapper .listBox .todoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.listWrapper .listBox .todoList .todoItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listWrapper .listBox .todoList .todoItems input[type="checkbox"] {
  display: none;
}

.listWrapper .listBox .todoList .todoItems input[type="checkbox"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #707070;
  position: relative;
  background: #fff;
}

.listWrapper
  .listBox
  .todoList
  .todoItems
  input[type="checkbox"]:checked
  + label::after {
  content: "✔";
  width: 15px;
  height: 15px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb94f;
}

.listWrapper
  .listBox
  .todoList
  .todoItems
  .itemWrapper
  input[type="checkbox"]:checked {
  background: rgb(230, 163, 76);
}

.listWrapper .listBox .todoList .todoItems span {
  padding-left: 10px;
  font-weight: 400;
  color: #fff;
}

.listWrapper .listBox .todoList .todoItems span.light {
  color: #000;
}

.listWrapper .listBox .todoList .todoItems .checkedItem {
  text-decoration: line-through;
}

.listWrapper .listBox .todoList .deleteIcon {
  color: #fff;
}

.footerWrapper {
  width: 100%;
  height: 80px;
  background-color: #1a1b35;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footerWrapper.light {
  background-color: #e0e0e0;
}

.footerWrapper .inputWrapper {
  width: 90%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerWrapper .inputWrapper .todoInput {
  width: 80%;
  height: 100%;
  padding: 0 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
}

.footerWrapper .inputWrapper .todoButton {
  width: 10%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffb94f;
  border: none;
}
